<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/oembed.css}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<div class="wrap">
    <div class="header">
        <div id="title">
            oEmbed Test
        </div>
        <div id="searchBar">
            <div id="search-area">
                <input id="search" type="text">
                <input id="btn" type="button" value="확인">
            </div>
        </div>
    </div>
    <div class="container">
        <div id="content">
            <table id="table">
            </table>
        </div>
    </div>
</div>
<script src="/js/oembed.js"></script>
</body>
</html>